*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 5% 10%;
}
header{
    padding: 5em;

}
#calendar{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 2px solid black;
    background-color: lightgrey; 
}

#dates{
    width: 11.42857vw;
    height: 11.42857vw;
    border: 1px solid coral;

}
.weekDays{
    display: flex;
    flex-direction: row;
    padding: 1em;
    border: 1px solid red;
}

.dayName{
    width: 11.42857vw;
    border: 1px solid red;
    color: black;
}
