*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 5% 10%;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    color: black;
    margin-bottom: 1em;
}

#calendar{
    display: flex;
    flex-basis: 90%;
    max-width: 500px;
    flex-direction: column;
    margin: 0 auto;
    border-top: 1px solid #00adb5;
    border-right: 1px solid #00adb5;
}

#month{
    text-align: center;
    padding: 0.5em;
    color: #00adb5;
    border-bottom: 1px solid #00adb5;
    border-left: 1px solid #00adb5;
}

#week{
    display: flex;
    flex-direction: row;
    
}

.weekDayName{
    width: 14.2857%;
    border-left: 1px solid #00adb5;
    border-bottom: 1px solid #00adb5;
    color: #393e46;
    text-align: center;
    padding: 0.5em;
    font-size: 11px;
}

#datesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.date{
    position: relative;
    width: 14.2857%;
    padding-top:  14.2857%;
    border-left: 1px solid #00adb5;
    border-bottom: 1px solid #00adb5;
    background-color: #eeeeee; 
  
}

.dateNumber{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
    font-size:11px;
}

.fullFillSpace{
    width: 14.2857%;
    padding-top:  14.2857%;
    border-bottom: 1px solid #00adb5;
    border-left: 1px solid #00adb5;
}

.fullFillSpace ~ .fullFillSpace{
    border-left: none;
}

.highLigth{
    background-color: #00adb5; 
}


.text-center{
    text-align: center;
}
