:root{
    --primaryColor: #222831;
    --secondaryColor: #393e46;
    --thirdColor: #00adb5;
    --forthColor: #eeeeee;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 5% 10%;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    color: var(--primaryColor);
    margin-bottom: 1em;
}

.calendar{
    display: flex;
    flex-basis: 90%;
    max-width: 500px;
    flex-direction: column;
    margin: 0 auto;
    border-top: 1px solid var(--thirdColor);
    border-right: 1px solid var(--thirdColor);
}

.month{
    text-align: center;
    font-size: 14px;
    padding: 0.5em;
    color: var(--primaryColor);
    border-bottom: 1px solid var(--thirdColor);
    border-left: 1px solid var(--thirdColor);
}

.week{
    display: flex;
    flex-direction: row;   
}

.weekDayName{
    width: 14.2857%;
    border-left: 1px solid var(--thirdColor);
    border-bottom: 1px solid var(--thirdColor);
    color: var(--thirdColor);
    text-align: center;
    padding: 0.5em;
    font-size: 11px;
}

.datesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.date{
    font-size: 12px;
    height: 0;
    width: 14.2857%;
    padding-bottom:  14.2857%;
    border-left: 1px solid var(--thirdColor);
    border-bottom: 1px solid var(--thirdColor);
    background-color: var(--forthColor); 
}

.dateNumber{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
    font-size:11px;
}

.fullFillSpace{
    width: 14.2857%;
    padding-top:  14.2857%;
    border-bottom: 1px solid var(--thirdColor);
    border-left: 1px solid var(--thirdColor);
}

.fullFillSpace ~ .fullFillSpace{
    border-left: none;
}

.highLigth{
    background-color: var(--thirdColor); 
}

.text-center{
    text-align: center;
}

.appointmentMenu{
    display: block;
    position: relative;
    border: 2px double var(--thirdColor);
    width: 100%;
    max-width: 500px;
    border-radius: 2%;
    margin: 2em auto;
    padding: 1em;
}

form{
    text-align: left;
    font-size: 14px;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    margin-bottom: 0.5em;
    font-size: 30px;
    color:  var(--primaryColor);
}

.closeMenu{
    position: absolute;
    top:1.5em;
    right: 1.5em;
}

label{
    display: block;
    margin-bottom: 0.5em;
  }

input[type="text"], input[type="email"], input[type="datetime-local"]{
    width: 100%;
    max-width: 35em;
    border: none;
    border-bottom: 2px solid var(--thirdColor);
    line-height: 1em;
    margin-bottom: 2em; 
    font-size: 14px;
  }


#submit{
    background-color: var(--thirdColor); 
    color: var(--forthColor);
    border: none;
    border-radius: 0.3em;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
   
  }
  
  .invisible {
    display: none;
  }

  @media (min-width:601px)
  {
    form{
        text-align: right;
    }

    label{
        font-size: 16px;
        display: inline-block;
        margin-right: 1em;
      }

      input[type="text"], input[type="email"], input[type="datetime-local"]{
        width: 65%;
      }

  }